body {
    background-color: #9db4ff;
    font-family: 'Consolas', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

h3 {
    color: #00529F;
    font-size: .4em;
    text-align: center;
    margin-bottom: .5em;
}

#title {
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
}

#main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #222222;
    margin: 0 auto;
    padding: 2em;
    width: 80%;
    max-width: 600px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 0.5em;
    margin-right: 1em;
    border: 1px solid #353535;
    border-radius: 5px;
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #e1ff1d;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #e1ff1d;
}

#lista {
    margin-top: 1em;
}

#lista .col {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.cerchio {
    background-color: rgb(255, 251, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 1em;
    font-weight: bold;
}

.orari {
    display: flex;
    flex-wrap: wrap;
}

.orario {
    margin-right: 0.5em;
}